.header{
    width:100%;
    background: orange;
    height:150px;

}
.left{
    width:20%;
    height:400px;
    background-color: blue;
    float:left;
}
.right{
    width:80%;
    height:400px;
    background-color:red;
    float:left;
}
.footer{
    width:100%;
    background-color: aqua;
    height:150px;
    float:left;
}
body{
    margin:0;
}
